WorkerID="abc"
TempDir="/recordings"
StorageDir="/srv/cephfs/livestream/rec/TUM-Live"
IngestBase="rtmps://user:password@some.server/live"
LrzUser="Joscha Henningsen"
LrzMail="example@invalid"
LrzPhone="555-123-456"
LrzSubDir="RBG"
MainBase="localhost"
